#a1
{
color:#1a73e8; 
text-align: center;
background-color:violet;
width:100%;
}
#a2
{
color:#190042; 
text-align: center;
background-color:orange;
}
#a3
{
color:#190042; 
text-align: center;
background-color:yellow;
}
html {
  font-size: 50px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family:'Sono', sans-serif; /* this should be the rest of the output you got from Google Fonts */
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

